.flaticon-business:before {
	content: "\e001";
}
.flaticon-call-center-operator:before {
	content: "\e002";
}
.flaticon-check:before {
	content: "\e003";
}
.flaticon-circle:before {
	content: "\e004";
}
.flaticon-collaboration:before {
	content: "\e005";
}
.flaticon-doctor:before {
	content: "\e006";
}
.flaticon-implants:before {
	content: "\e007";
}
.flaticon-medical-1:before {
	content: "\e008";
}
.flaticon-medical-2:before {
	content: "\e009";
}
.flaticon-medical-3:before {
	content: "\e00a";
}
.flaticon-medical-4:before {
	content: "\e00b";
}
.flaticon-medical-5:before {
	content: "\e00c";
}
.flaticon-medical-doctor-specialist:before {
	content: "\e00d";
}
.flaticon-medical:before {
	content: "\e00e";
}
.flaticon-microscope-side-view:before {
	content: "\e00f";
}
.flaticon-music:before {
	content: "\e010";
}
.flaticon-patient-in-hospital-bed:before {
	content: "\e011";
}
.flaticon-placeholder:before {
	content: "\e012";
}
.flaticon-technology:before {
	content: "\e013";
}
.flaticon-teeth:before {
	content: "\e014";
}
